.col s4{
    text-decoration-color: black;
}
checkbox {
    opacity:999;
    pointer-events: all !important;
}
.required:after { content:" *"; }
th{
    background-color: #5aa22d;
    border: 1px solid grey;
   
    padding: 1%;
}
.contentType{
  font-style: italic;
  font-weight: bold;
}
tr, td{
  border: 1px solid grey;
  padding: 1%;
  
}
tbody:nth-child(odd) { background: #f5f5f5;  border: solid 3px #908c8c; }
tbody:nth-child(even) { background: #e5e5e5;  border: solid 3px #908c8c; }
thead{
    color:white;
    align: center;
}
.waves-effect{
    background-color: #245208;
    margin: 2px;

}
.delete{
    color: #c8a3a3;
    margin: 2px;
}
table{
  width:98%;
  margin-left: 1%;
  border: 1px solid grey;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.modal{
  background-color: transparent;
  width: auto;
  max-height: none;
}
a{
  display: block;

}
