<app-nav-bar></app-nav-bar>
<div class="continer" style="min-height: 750px;  background-repeat: no-repeat; background-size: cover">
<div class="row" style="background-color: #5aa22d87">
  <div class="col s4" style="margin:2%;">
  <p><b>Please Select Course</b></p>
  <select class="browser-default" (click)="viewQues()" [(ngModel)]="selectedOption">
    <option [ngValue]="Sele" disabled selected>Please choose your course</option>
    <option *ngFor="let course of courses" 
    [value]="course.course_id" 
    >
  {{course.course_name}}
</option>
  </select>

</div>

 <div class="col s6 push-s6" style="margin-top:3%;"> 
  
   <a *ngIf="selectedOption!=undefined" class="btn-floating btn-large waves-effect waves-light red" style="background-color: #5aa22d !important;" (click)="staticModal1.show()" title="Add questions"><i class="material-icons">add</i></a>

    <div class="modal fade" id="quesModal" bsModal #staticModal1="bs-modal" [config]="{backdrop: 'true'}"
     tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-static-name" class="modal-title pull-left">Directions</h4>
        
      </div>
      <div class="modal-body">
       <form #quesForm="ngForm" (ngSubmit)="OptionNumber(qNo,question,num,selectedOption)">
        <div class="row">
              <div class="input-field col s12">
                
                <input type="number" name="qNo" [(ngModel)]="qNo"  required  min="1" pattern="^[1-9]" oninput="validity.valid||(value='');"  step="1">
                <label>Question No</label>
              </div>
            </div>
          <div class="row">
              <div class="input-field col s12">
                
                <input type="text" name="question" [(ngModel)]="question"  required>
                <label>Question</label>
              </div>
            </div>
         <div class="row">
              <div class="input-field col s12">
                
                <input type="number" name="num" [(ngModel)]="num"  required   min="1" pattern="^[1-9]" oninput="validity.valid||(value='');"  step="1">
                <label>Number of Options</label>
              </div>
            </div>
           
            <div class="row">
              <div class="input-field col s12">
                <button class="btn-large btn-submit waves-effect waves-light" type="submit">Next</button>
              </div>
            </div>
          </form>
      </div>
      
      </div>
    </div>
  </div>
 <div id="Optmodal" class="modal" bsModal #staticModal="bs-modal" [config]="{backdrop: 'true'}"
     tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">

  <!-- Modal content -->
  
   <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-static-name" class="modal-title pull-left">Enter Options</h4>
        
      </div>
      <div class="modal-body">
       <form #quesForm="ngForm" (ngSubmit)="optionsGiven(options)">
        <div *ngFor="let opt of options;let i=index">
        <div class="row" >
              <div class="input-field col s12">
                
                <input type="text" name="options[i].value"  [(ngModel)]="options[i].value"  required>
                <label  >Option {{i+1}}</label>
              </div>
            </div>
          
           </div>
           <h4 id="dialog-static-name" class="modal-title pull-left">Select Correct Answer</h4>
          <div *ngFor="let opt of options;let i2=index">
           <div class="row" >
              <div class="input-field col s12">
                
                 <input type="checkbox" id={{i2}} (change)="checkValue($event,i2)" style="pointer-events: all;" />
                <label for={{i2}} style="left: 0rem;top: -.85rem;">{{options[i2].value}}</label>
              </div>
            </div>
          </div>
            <div class="row">
              <div class="input-field col s12">
                <button class="btn-large btn-submit waves-effect waves-light" type="submit">Submit Question</button>
              </div>
            </div>
          </form>
      </div>
      
      </div>
    </div>

</div>


   
</div>
</div>
<div class="row"></div>
<table  *ngIf="myVar" >
    <thead>

      <tr>
          <th  WIDTH="80">Type</th>
          <th  WIDTH="200">Content</th>
          <th  WIDTH="90">Action <a class="waves-effect waves-light btn pull-right" style="    width: 30%;
    display: inline;
    height: 1%;"(click)="edit()"><i class="material-icons">
            border_color
          </i></a></th>
           
         
      </tr>
    </thead>
   
    <tbody *ngFor="let option of questionsAdmin">
      
       <tr >
        <td class="contentType">Question No</td>
        <td> {{option.qno}}</td>
         <td rowspan="4">
          
          <a class="waves-effect waves-light btn" (click)="del(option.qnId)"><i class="material-icons">
          delete
          </i>Delete</a>
          <a class="waves-effect waves-light btn"   (click)="save(option)"><i class="material-icons">
          done
          </i>Save</a>
          </td>
        </tr>
        <tr>
          <td class="contentType">Question</td>
          <td ><div *ngIf="!isEditable">{{option.qn}}</div><input type="text" [(ngModel)]="option.qn" *ngIf="isEditable" [value]="option.questions"></td>
          
        </tr>
        <tr>
          <td class="contentType">Options</td>
          <td ><p>Options Are:</p>
            <ol  style="list-style-type:disc !important">
            <ng-container *ngFor="let optionVar of option.options">
             <li> <div *ngIf="!isEditable">{{optionVar.optionsValue}}</div> </li>
              <input type="text"  [(ngModel)]="optionVar.optionsValue" *ngIf="isEditable" [value]="optionVar.optionsValue">
            </ng-container>
          </ol>
          </td>
          
       </tr>
        <tr>
            <td class="contentType">Answers</td>
         <td><p>Answers Are:</p>
           
          <ol  style="list-style-type:disc !important">
            <ng-container *ngFor="let ans of option.answer">
             <li> <div *ngIf="!isEditable">{{ans.answer}}</div> </li>
              <input type="text"  [(ngModel)]="ans.answer" *ngIf="isEditable" [value]="ans.answer">
            </ng-container>
          </ol>
        </td>
       
        
      </tr>
      
    </tbody>
  
  </table>
  <h4  *ngIf= "questionsAdmin.length==0">No questions added to this course</h4>
</div>

