<app-navbar></app-navbar>
<style type="text/css">
  .side {
  transition: all .3s;
}

.show{
opacity: 1 !important;
}
.step{
opacity: 0;
transition: .5s ease-in-out all;
}
.modal-footer{
  background-color: white;
}
</style>
<div class="continer" style="background-image: url(/assets/img/home.jpg);" >
<div class="row">
   <div class="col s12" style="height: 100vh">
      <div class="btn-group btn-group-lg " style="width: 100%;margin-top: 3%" role="group" aria-label="Basic example">
       
         <a class="waves-effect waves-light btn category" style="    width: 28%;
         height: 30%;
         margin: 2%;
             margin-left: 4%;
         padding: 20px;
    border-radius: 6px;"  [ngStyle]="{'background-color': java ? '#315809' : '#6dce0994' }" (click)="java=true;auto=false;mainframe=false;" (clickOutside)="java=false;"  data-toggle="modal" data-target="#myModal">Java</a>
         <a class="waves-effect waves-light btn" style="    width: 28%;
         height: 30%;
         margin: 2%;
         border-radius: 5%;
         padding: 20px;
    border-radius: 6px;" [ngStyle]="{'background-color': mainframe ? '#315809' : '#6dce0994' }"  (click)="mainframe=true;auto=false;java=false;" (clickOutside)="mainframe=false" data-toggle="modal" data-target="#myModalMain">MAINFRAME</a>
         <a class="waves-effect waves-light btn" style="    width: 28%;
         height: 30%;
         margin: 2%;
         border-radius: 5%;
         padding: 20px;
    border-radius: 6px;" [ngStyle]="{'background-color': auto ? '#315809' : '#6dce0994' }" (click)="auto=true;java=false;mainframe=false;" (clickOutside)="auto=false" data-toggle="modal" data-target="#myModalAuto">TESTING</a>

    <a class="waves-effect waves-light btn" style="    width: 28%;
         height: 30%;
         margin: 2%;
         border-radius: 5%;
           margin-left: 4%;
         padding: 20px;
    border-radius: 6px;" [ngStyle]="{'background-color': appMod ? '#315809' : '#6dce0994' }" (click)="appMod=true;java=false;mainframe=false;" (clickOutside)="appMod=false" data-toggle="modal" data-target="#myModalAppMod">AppMod</a>
<a class="waves-effect waves-light btn" style="    width: 28%;
         height: 30%;
         margin: 2%;
         border-radius: 5%;
         padding: 20px;
    border-radius: 6px;" [ngStyle]="{'background-color': devops ? '#315809' : '#6dce0994' }" (click)="devops=true;java=false;mainframe=false;" (clickOutside)="devops=false" data-toggle="modal" data-target="#myModalDevOps">Dot Net</a>
    <a class="waves-effect waves-light btn" style="    width: 28%;
         height: 30%;
         margin: 2%;
         border-radius: 5%;
         padding: 20px;
    border-radius: 6px;" [ngStyle]="{'background-color': integration ? '#315809' : '#6dce0994' }" (click)="integration=true;java=false;mainframe=false;" (clickOutside)="integration=false" data-toggle="modal" data-target="#myModalInt">Integration</a>
           </div>
               <div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog" style="height:100%">

    <!-- Modal content-->
    <div class="modal-content" style="height:70%">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title" style="    color: #7b9494;">JAVA</h2>
      </div>
      <div class="modal-body" style="margin-top: 10%">
        <a class="waves-effect waves-light btn category" style="    width: 25%;
                           height: 30%;
                           padding: 15px;
                           margin-right: 5%;
                           margin-left: 7%;
                           border-radius: 5%;
                           background-color: #6da731;
                           " (click)="startQuiz(3)" data-dismiss="modal">Jackpot</a>
                        <a class="waves-effect waves-light btn category" style="    width: 25%;
                            height: 30%;
                           padding:15px;
                           margin-right: 5%;
                           border-radius: 5%;
                           background-color: #6da731;
                           " (click)="startQuiz(1)" data-dismiss="modal">Bonanza</a>
                        <a class="waves-effect waves-light btn category" style="    width: 25%;
                            height: 30%;
                           padding: 15px;
                           margin-right: 1%;
                           border-radius: 5%;
                           background-color: #6da731;
                           "(click)="startQuiz(2)"  data-dismiss="modal">General</a>
      </div>
      <div class="modal-footer" style="margin-top: 10%">
        <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-top: 10%">Close</button>
      </div>
    </div>

  </div>
</div>
            
            <div id="myModalMain" class="modal fade" role="dialog">
  <div class="modal-dialog"  style="height:100%">

    <!-- Modal content-->
    <div class="modal-content" style="height:70%">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title"     style="color: #7b9494;">MAINFRAME</h2>
      </div>
      <div class="modal-body" style="margin-top: 10%">
                        <a class="waves-effect waves-light btn category" style="    width: 25%;
                           height: 30%;
                           padding: 15px;
                           margin-right: 5%;
                           margin-left: 7%;
                           border-radius: 5%;
                           background-color: #6da731;
                           " (click)="startQuiz(6)" data-dismiss="modal">Jackpot</a>
                        <a class="waves-effect waves-light btn category" style="    width: 25%;
                            height: 30%;
                           padding:15px;
                           margin-right: 5%;
                           border-radius: 5%;
                           background-color: #6da731;
                           " (click)="startQuiz(4)" data-dismiss="modal">Bonanza</a>
                        <a class="waves-effect waves-light btn category" style="    width: 25%;
                            height: 30%;
                           padding: 15px;
                           margin-right: 1%;
                           border-radius: 5%;
                           background-color: #6da731;
                           "(click)="startQuiz(5)" data-dismiss="modal" >General</a>
                    </div>
      <div class="modal-footer" style="margin-top: 10%">
        <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-top: 10%">Close</button>
      </div>
    </div>

  </div>
</div>
            <div id="myModalAuto" class="modal fade" role="dialog">
  <div class="modal-dialog"  style="height:100%">

    <!-- Modal content-->
    <div class="modal-content" style="height:70%">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title" style="    color: #7b9494;">TESTING</h2>
      </div>
      <div class="modal-body" style="margin-top: 10%">
                        <a class="waves-effect waves-light btn category" style="    width: 25%;
                           height: 30%;
                           padding: 15px;
                           margin-right: 5%;
                           margin-left: 7%;
                           border-radius: 5%;
                           background-color: #6da731;
                           " (click)="startQuiz(44)" data-dismiss="modal">Jackpot</a>
                        <a class="waves-effect waves-light btn category" style="    width: 25%;
                            height: 30%;
                           padding:15px;
                           margin-right: 5%;
                           border-radius: 5%;
                           background-color: #6da731;
                           " (click)="startQuiz(45)" data-dismiss="modal">Bonanza</a>
                        <a class="waves-effect waves-light btn category" style="    width: 25%;
                            height: 30%;
                           padding: 15px;
                           margin-right: 1%;
                           border-radius: 5%;
                           background-color: #6da731;
                           "(click)="startQuiz(43)" data-dismiss="modal">General</a>
                    </div>
      <div class="modal-footer" style="margin-top: 5%">
        <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-top: 10%">Close</button>
      </div>
    </div>

  </div>
</div>



 <div id="myModalAppMod" class="modal fade" role="dialog">
  <div class="modal-dialog" style="height:100%">

    <!-- Modal content-->
    <div class="modal-content" style="height:70%">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title" style="    color: #7b9494;">APPMOD</h2>
      </div>
      <div class="modal-body" style="margin-top: 10%">
        <a class="waves-effect waves-light btn category" style="    width: 25%;
                           height: 30%;
                           padding: 15px;
                           margin-right: 5%;
                           margin-left: 7%;
                           border-radius: 5%;
                           background-color: #6da731;
                           " (click)="startQuiz(11)" data-dismiss="modal">Jackpot</a>
                        <a class="waves-effect waves-light btn category" style="    width: 25%;
                            height: 30%;
                           padding:15px;
                           margin-right: 5%;
                           border-radius: 5%;
                           background-color: #6da731;
                           " (click)="startQuiz(17)" data-dismiss="modal">Bonanza</a>
                        <a class="waves-effect waves-light btn category" style="    width: 25%;
                            height: 30%;
                           padding: 15px;
                           margin-right: 1%;
                           border-radius: 5%;
                           background-color: #6da731;
                           "(click)="startQuiz(10)"  data-dismiss="modal">General</a>
      </div>
      <div class="modal-footer" style="margin-top: 10%">
        <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-top: 10%">Close</button>
      </div>
    </div>

  </div>
</div>
<div id="myModalDevOps" class="modal fade" role="dialog">
  <div class="modal-dialog" style="height:100%">

    <!-- Modal content-->
    <div class="modal-content" style="height:70%">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title" style="    color: #7b9494;">DOT NET</h2>
      </div>
      <div class="modal-body" style="margin-top: 10%">
        <a class="waves-effect waves-light btn category" style="    width: 25%;
                           height: 30%;
                           padding: 15px;
                           margin-right: 5%;
                           margin-left: 7%;
                           border-radius: 5%;
                           background-color: #6da731;
                           " (click)="startQuiz(41)" data-dismiss="modal">Jackpot</a>
                        <a class="waves-effect waves-light btn category" style="    width: 25%;
                            height: 30%;
                           padding:15px;
                           margin-right: 5%;
                           border-radius: 5%;
                           background-color: #6da731;
                           " (click)="startQuiz(42)" data-dismiss="modal">Bonanza</a>
                        <a class="waves-effect waves-light btn category" style="    width: 25%;
                            height: 30%;
                           padding: 15px;
                           margin-right: 1%;
                           border-radius: 5%;
                           background-color: #6da731;
                           "(click)="startQuiz(40)"  data-dismiss="modal">General</a>
      </div>
      <div class="modal-footer" style="margin-top: 10%">
        <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-top: 10%">Close</button>
      </div>
    </div>

  </div>
</div>
<div id="myModalInt" class="modal fade" role="dialog">
  <div class="modal-dialog" style="height:100%">

    <!-- Modal content-->
    <div class="modal-content" style="height:70%">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title" style="    color: #7b9494;">INTEGRATION</h2>
      </div>
      <div class="modal-body" style="margin-top: 10%">
        <a class="waves-effect waves-light btn category" style="    width: 25%;
                           height: 30%;
                           padding: 15px;
                           margin-right: 5%;
                           margin-left: 7%;
                           border-radius: 5%;
                           background-color: #6da731;
                           " (click)="startQuiz(50)" data-dismiss="modal">Jackpot</a>
                        <a class="waves-effect waves-light btn category" style="    width: 25%;
                            height: 30%;
                           padding:15px;
                           margin-right: 5%;
                           border-radius: 5%;
                           background-color: #6da731;
                           " (click)="startQuiz(51)" data-dismiss="modal">Bonanza</a>
                        <a class="waves-effect waves-light btn category" style="    width: 25%;
                            height: 30%;
                           padding: 15px;
                           margin-right: 1%;
                           border-radius: 5%;
                           background-color: #6da731;
                           "(click)="startQuiz(49)"  data-dismiss="modal">General</a>
      </div>
      <div class="modal-footer" style="margin-top: 10%">
        <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-top: 10%">Close</button>
      </div>
    </div>

  </div>
</div>

           <!--  <ul id='dropdown1' class='dropdown-content'>
              <li><a href="#!">one</a></li>
              <li><a href="#!">two</a></li>
              <li class="divider" tabindex="-1"></li>
              <li><a href="#!">three</a></li>
              <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
              <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
           </ul> -->


         </div>
       
      <!--  <div class="col s12 m6 9">
         <div class="" style="    text-align: center;
         font-size: x-large;
         line-height: 2;">
         <div class="black-text"     style="text-align: right;margin-right: 5%">
           <span class="card-title">Welcome {{quizService.getParticipantName()}}!!</span>
          <span> <p>All the best for your upcoming quiz</p>
           <br>
           
             </span>
         </div>
         </div>
         
         </div> -->
   </div>
</div>